.gradle/
.gradle/**
.idea/
.idea/**
*.iml
gradle/
gradle/**
gradlew
gradlew.bat
build/
build/**
output/
output/**

# Specific files
img/logo-icon.svg
update-icon.bat

# Runtime file
src/main/kotlin/com/github/polyrocketmatt/kstat/Test.kt